.wrapper__chat-main__messages__message{"data-message-id": "#{message.id}"}
  .wrapper__chat-main__messages__message__upper-info
    %p.wrapper__chat-main__messages__message__upper-info__talker
      = message.user.name
    %p.wrapper__chat-main__messages__message__upper-info__date
      = message.created_at.strftime("%Y年/%m月/%d日 %H時%M分")
  .message__lower-info
    %p.message__lower-info__text
      = message.content
    - if message.image.present?
      %p.message__lower-info__image
        = image_tag message.image.url, class: 'lower-message__image' 