.flash-box
  グループ名を作成しました。

.wrapper
  = render 'shared/side-bar'
 
  .wrapper__chat-main
    .wrapper__chat-main__main-header
      .wrapper__chat-main__main-header__left-box
        %h2.wrapper__chat-main__main-header__left-box__current-group
          グループ
        %ul.wrapper__chat-main__main-header__left-box__member-list
          Member
          %li.wrapper__chat-main__main-header__left-box__member-list__member
      .wrapper__chat-main__main-header__edit-btn
        Edit
    .wrapper__chat-main__messages
      = render @messages
    .wrapper__chat-main__form
      = form_for [@group, @message], class: 'wrapper__chat-main__form__new__message' do |f|
        .wrapper__chat-main__form__new__message__input-box
          = f.text_field :content, class: 'wrapper__chat-main__form__new__message__input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'wrapper__chat-main__form__new__message__input-box__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'wrapper__chat-main__form__new__message__input-box__image__file'
          = f.submit 'Send', class: 'wrapper__chat-main__form__new__message__input-box__submit__btn'
