.wrapper__chat-side
  .wrapper__chat-side__side-header
    .wrapper__chat-side__side-header__box
      %p.wrapper__chat-side__side-header__box__user-name
        = current_user.name
      %ul.wrapper__chat-side__side-header__box__menu
        %li.wrapper__chat-side__side-header__box__menu__new-group
          = link_to (new_group_path), class:"wrapper__chat-side__side-header__box__menu__new-group__icon"do
            = fa_icon "edit"
        %li.wrapper__chat-side__side-header__box__menu__edit-user 
          = link_to edit_user_path(current_user), class:"wrapper__chat-side__side-header__box__menu__edit-user__icon"do
            = fa_icon "cog"
  .wrapper__chat-side__groups
    - current_user.groups.each do |group|
      .wrapper__chat-side__groups__group
        = link_to group_messages_path(group) do
          %p.wrapper__chat-side__groups__group-name
            = group.name
          %p.wrapper__chat-side__groups__group__latest-message
            メッセージはまだありません。